html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-title h2 span {
  color: #00a3ac;
}
.main-title p {
  max-width: 500px;
  margin: auto;
  color: #333;
}
.nav-link:focus {
  color: #333;
}
.btn:focus {
  box-shadow: none;
}
/* Start Nav */
.navbar {
  background-color: rgba(255, 255, 255, 0.753);
}
.navbar-brand img {
  width: 100px;
}
.navbar button {
  color: #00a3ac;
  font-size: 25px;
}
.navbar-nav li {
  transition: 0.3s;
}
.navbar-nav li a {
  color: #333;
}
.navbar-nav li a:hover {
  color: #333;
}
.navbar-nav li:hover {
  background-color: #00a3ac;
}
/* End Nav */
/* Start Landing */
.landing .container-fluid {
  min-height: calc(80vh - 72px);
}
.landing h1 {
  font-size: 30px;
}
@media (min-width: 992px) {
  .landing h1 {
    font-size: 40px;
  }
}
.landing h1 span {
  color: #00a3ac;
}
.landing p {
  max-width: 500px;
  color: #333;
}
.landing .numb-1 {
  background-color: #00a3ac;
  border: 1px solid #00a3ac;
  border-radius: 10px;
  color: white;
}
.landing .numb-1:hover {
  background-color: white;
  color: #00a3ac;
}
.landing .numb-2 {
  border: 1px solid #00a3ac;
  border-radius: 10px;
  color: #00a3ac;
  transition: 0.3s;
}
.landing .numb-2:hover {
  color: #333;
  border-color: #333;
}
.landing img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -4;
}
/* End Landing */
/* Start Services */
.services {
  background-color: #eee;
}
.services .box {
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px;
}
.services .box:hover {
  background-color: #00a3ac;
}
.services .box:hover img {
  transform: scale(1.1);
}
.services .box img {
  width: 80px;
  height: 80px;
  transition: 0.3s;
}
.services .box p {
  font-size: 14px;
  color: #333;
}
/* End Services */
/* Start Projects */
.projects {
  overflow: hidden;
}
.projects .container-fluid {
  background-color: #eee;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.projects .container-fluid::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-bottom: 45px solid rgb(46, 30, 30);
  border-top: 45px solid sienna;
  left: 0;
  top: 0;
  transform: rotate(1.5deg);
  z-index: -4;
  border-radius: 50px;
}
@media (max-width: 767px) {
  .projects .container-fluid::before {
    transform: rotate(5deg);
  }
}
.projects p {
  color: #333;
}
.projects .box .visit {
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}
.projects .box .visit:hover {
  background-color: #333;
  color: white;
}
.projects .proj-img {
  width: 1000px;
}
.projects .img-cat {
  width: 250px;
}
/* End Projects */
/* Start About */
.about .more {
  background-color: #00a3ac;
  color: white;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid #00a3ac;
}
.about .more:hover {
  background-color: white;
  color: #00a3ac;
}
.about .box img {
  width: 700px;
}
/* End About */
/* Start Testimonials */
.testimonials {
  background-color: #eee;
}
.testimonials .boxs-holder {
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px;
}
.testimonials .boxs-holder .box-img {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.testimonials .boxs-holder .box-img img {
  width: 100px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  top: -115px;
  transform: translateX(-50%);
  left: 50%;
}
.testimonials .boxs-holder .one svg {
  color: #00a3ac;
}
.testimonials .boxs-holder .img-one {
  background-color: #00a3ac;
}
.testimonials .boxs-holder .two svg {
  color: #c80b0b;
}
.testimonials .boxs-holder .img-two {
  background-color: #c80b0b;
}
.testimonials .boxs-holder .three svg {
  color: #40d68b;
}
.testimonials .boxs-holder .img-three {
  background-color: #40d68b;
}
/* End Testimonials */
/* Start Contact */
.contact .box {
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px;
}
.contact .box svg {
  transition: 0.3s;
}
.contact .box:hover svg {
  transform: scale(1.1);
}
.contact .box .icn-holder {
  width: 80px;
  height: 80px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.contact .box .icon-phone svg {
  color: #40d68b;
}
.contact .box .icon-mesg svg {
  color: #c80b0b;
}
.contact .box .icon-map svg {
  color: #00a3ac;
}
.contact .box h4 {
  color: #00a3ac;
}
.social-icons span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.social-icons span:hover {
  opacity: 1;
  transform: scale(1.1);
}
.social-icons .youtube {
  background-color: #ff0000;
  opacity: 0.5;
}
.social-icons .facebook {
  background-color: #3b5998;
  opacity: 0.5;
}
.social-icons .linkedin {
  background-color: #0e76a8;
  opacity: 0.5;
}
.social-icons .instagram {
  background-color: #cd486b;
  opacity: 0.5;
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: #068087;
}
.footer .logo-about p {
  width: 240px;
}
.footer .projects-foot ul li a {
  text-decoration: none;
}
.footer .projects-foot svg {
  color: #00a3ac;
}
.footer-two {
  background-color: #252d36;
}
.footer-two .copyright {
  font-size: 18px;
}
.footer-two .copyright .heart svg {
  color: #ff0000;
}
.footer-two .copyright .vali {
  color: #00a3ac;
}
.social-footer span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #535353;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101922;
}
/* End Footer */
/* Start Top btn */
.topbtn {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background-color: #00a3ac;
  border: 5px solid #099097;
  border-radius: 15px;
  width: 50px;
  height: 50px;
}
.topbtn a {
  transition: 0.3s;
}
.topbtn a:hover {
  color: white !important;
}
/* End Top btn */
